.app {
   display: flex;
   flex-direction: column;
   height: 100vh;
}
.main {
  display: flex;
  flex-grow: 1;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  color: black;
}
.logo{
  display: flex;
}
.search {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  border: none;
  background-color: white;
}
.search input {
  padding: 5px 10px;
  width: 200px; 
  border: none;
}
.search-but {
  padding: 5px 10px;
  background-color: white;
  color: black;
  cursor: pointer;
}
.youtube-icon{
  font-size: 40px;
  color: #eb3b3b;
  margin-left: 15px;
  margin-right: 10px;
}
h3{
  font-size: 24px;
  margin: 0;
}
.sidebar {
  width: 50px;
  background-color: white;
  color: black;
  height: 100vh;
  padding: 5px;
}
.sidebar ul {
  margin-left: 10px;
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.icon:hover {
  font-size: 30px;
}
.icon {
  margin-right: 15px;
  font-size: 24px;
}
.content {
  padding: 20px;
  background-color: #f9f9f9;
  width: 100%;
}

.video {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  width: 200px; /* Adjust width as needed */
  transition: transform 0.2s;
}

.item:hover {
  transform: scale(1.05);
}

.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

p {
  font-size: 14px;
  color: #666;
  margin: 0;
}


